<IfModule mod_rewrite.c>
  ReqriteEngine On RewriteBase / RewriteRule ^index\.html$ - [L] RewriteCond
  %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteCond
  %{REQUEST_FILENAME} !-l RewriteRule . /indexhtml [L]
</IfModule>
